/*INICIO Cor de fundo e responsividade*/
:root*{
    --cor-de-texto-no-rodape: #f5f5f5;
    
}
#fundo {
    background-image: linear-gradient(10deg, #71a1ff, #7797f8, #7d8df1, #8483e8, #8a78df, #826acb, #795cb7, #704fa4, #583c83, #412a64, #2b1946, #18072b);
    animation: cores 15s ease infinite;
    background-size: 400%, 400%;
    font-family: 'DM Mono', monospace, Arial, Helvetica, sans-serif;
}

@keyframes cores {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.nav-action {
    background-color: #18072b;
    opacity: 60%;
}

/*FIM Cor de fundo e responsividade*/



/*INICIO menu*/

/* Imagem do Navbar */
.logomenu {
    width: 5vw;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -18px;
    left: 0px;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

/* Elementos referente à estética do li */
.menu {
    list-style-type: none;
    display: flex;
    align-items: center;

}

.menu a {
    text-decoration: none;
    color: white;
    margin: 2vw;
    white-space: nowrap;
    z-index: 1000;
    padding: 0.8vw;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 25%;
    left: 0;
    padding: 0
}

/* Faz o dropdown ficar na posição correta */
.navbar li {
    position: relative;
}

.navbar li a {
    text-decoration: none;
    display: block;
    width: 100%;
    margin-left: 0;
}

.navbar li figure {
    margin: 0;
}

/* Cor de fundo do dropdown */
.bg-dropdown {
    transition: all 0.3s ease-in-out;
    background-color: rgba(24, 8, 43, 0.85);
    border-radius: 10px;
}

/* Todas as alterações quando passa o mouse 
em cima dos elementos navbar */

.navbar li a:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(24, 8, 43, 0.85);
    padding: 0.8vw;
    border-radius: 10px;
}

.dropdown li a:hover {
    transition: all 0.3s ease-in-out;
    background-color: #7d74a8;
    border-radius: 5px;
}

/* Importante para o dropdown aparecer */
.navbar li:hover ul,
.navbar li.over ul {
    display: block;
    margin: 0;
}

/*FIM menu*/

/*INICIO PADRÃO SECÇÕES*/
section {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    display: block;
    margin-top: 10vh;
}

.titulo {
    color: #18072B;
}

.pos-titulo {
    width: 5%;
    border-color: #18072B;
}

/*FIM PADRÃO SECÇÕES*/

/*INICIO do Home*/
#home {
    display: flex;
    width: 100%;
    margin-top: 10%;
}

#imghome {
    width: 20%;
    object-fit: contain;
}

.texto {
    font-family: 'DM Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000;
    text-align: justify;
    align-self: center;
    margin: 5%;
    line-height: 10vh;
}

/*FIM do Home*/

/*INICIO dos serviços prestados*/
.servicosprestados {
    display: grid;
    /*Distribuindo o conteúdo em 4 colunas*/
    grid-template-columns: repeat(4, 1fr);
    /*especificando que queremos 4 colunas*/
    padding: 2rem 2.5rem;
}

.imgservico {
    width: 70%;
    border-style: solid;
    border-color: #18072B;
    border-radius: 10px;
}

.imgservico:hover {
    filter: brightness(80%);
}

.linkservico {
    text-decoration: none;
    color: #000;
}
/*FIM dos serviços prestados*/

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Poiret+One&family=Pompiere&family=Ysabeau+SC:wght@300&display=swap');

/*footer*/
footer {
    width: 100%;
    min-height: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a,
footer .menu li a {
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    color:#18072B;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: var(--cor-de-texto-no-rodape);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}
footer p {
    padding: 0;
    margin: 0;
}
footer ul.social_icon {
    padding: 0;
}

/* Final do Footer */

@media screen and (max-width: 768px) {
    .navbar {
        height: 60px;
        /* Ajuste conforme necessário */
    }

    .menu {
        margin: 1vw;
        /* Reduzir a margem para economizar espaço */
    }

    /* Sessão home responsiva */
    #home {
        flex-direction: column;
        /* Empilhar em vez de exibir lado a lado */
    }

    #imghome {
        content: url('/logo/amanaDark.png');
        /* Substitua pelo caminho da sua nova imagem */
        width: 70%;
        /* Redimensionar a nova imagem para telas menores */
        margin: 5% auto;
        /* Centralizar a nova imagem */
    }

    .texto {
        margin: 2% 5%;
        /* Reduzir as margens para economizar espaço */
    }

    .logomenu {
        width: 10%;
        /* Ajuste conforme necessário */
    }

    .navbar {
        height: 60px;
    }

    .menu {
        margin: 1vw;
    }

    .navbar li {
        position: static;
    }

    .navbar li a {
        width: auto;
        margin-left: 10px;
    }

    .dropdown {
        top: 60px;
    }


    /* Sessão serviços prestados */
    .servicosprestados {
        grid-template-columns: repeat(2, 1fr);
        /* Muda para 2 colunas em telas menores */
        gap: 1rem;
        /* Adiciona espaço entre os serviços */
    }

    .imgservico {
        width: 100%;
        /* Faz com que as imagens ocupem 100% da largura do contêiner */
        border: none;
        /* Remove a borda para economizar espaço */
    }

    /* Fim da Sessão serviços prestados */

    footer p {
        padding: 0;
        margin: 0;
        border: 0;
    }

    #segundo-p {
        color: #402f5c;
        margin: 0;
        padding: 0;
    }

    footer ul {
        padding: 0;
    }

    footer ul.menu {
        padding: 0%;
    }
}

@media only screen and (max-width: 400px) {
    footer p {
        margin-left: 25%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 226px) {
    footer p {
        padding: 0;
        margin: 0;
        border: 0;
    }

    #segundo-p {
        color: #402f5c;
        margin: 0;
        padding: 0;
    }

    footer ul {
        padding: 0;
    }

    footer ul.menu {
        padding: 0%;
    }
}